# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.eggs/

# Env
.env
*.env.local

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/
